* {
    box-sizing: border-box; 
}

table, th, td {
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 8px;
    text-align: center;
}

tbody {
    background-color: #1C1C1C;
    color: white;
}

body {
    font-family: Arial, sans-serif;
    color: #1C1C1C;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-weight: bold;
    overflow-x: hidden; 
}

input {
    background-color: #ececec;
    color: #1C1C1C;
    display: block;
    margin-bottom: 10px;
    border: 1px solid #adadad;
    border-radius: 10px;
    padding: 10px;
}

.form-content {
    padding-left: 5px;
}

input[type="number"].Quantidade {
    width: 50px;
    height: 37px;
    text-align: center;
    box-sizing: border-box;
    display: inline;
}

@media screen and (max-width: 880px) {
    .form-group {
        width: 100%;
    }
    .content {
        display: grid;
        grid-template-columns: 1fr; 
        width: 100%; 
    }
    #b {
        position: fixed;
        bottom: 0;
        display: grid;
        grid-template-columns: auto auto;
        background-color: #1C1C1C;
        color: white;
        padding: 5px;
        width: 100%; 
    }
    .mercurio {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
    h3 {
        font-size: 0;
    }
    .footer {
        margin-top: 20px;
    }
}

@media (min-width: 880px) {

    .form-content {
        display: grid;
        grid-template-columns: auto auto;
    }
    .content {
        display: grid;
        grid-template-columns: 72% auto;
        width: 100%;
    }
    #b {
        position: fixed;   
        padding-left: 20px;
        right: 0;
        width: 28%;
        color: white;
        height: 100%;
        background-color: #1C1C1C;
    }
    body {
        background-color: #1C1C1C;
    }
    #a {
        background-color: white;
        display: grid;
        grid-template-columns: auto;
        width: 100%;
    }
}

.More {
    background-color: rgb(8, 116, 8);
    border: none;
}

.Less {
    background-color: rgb(170, 11, 11);
    border: none;
}

.More, .Less {
    padding: 5px 15px;
    font-weight: bolder;
    font-size: larger;
    color: white;
}

.header {
    top: 0;
    width: 100%; 
    text-align: left;
    padding: 20px 0;
    background-color: #FFA214;
    color: #1C1C1C;
    margin-bottom: 1%;
}

.tabela {
    width: 100%;
    text-align: left;
    padding-left: 10px;
    margin-top: 20px;
}

.footer {
    width: 100%;
    text-align: center;
    padding-left: 20px;
    padding-bottom: 180px;
}

button {
    padding: 9px 5%;
    background-color: #FFA214;
    color: #1C1C1C;
    text-align: center;
    border: 1px solid #FFA214;
    border-radius: 5px;
    transition: 0.5s;
}

button:hover {
    background-color: rgb(0, 0, 0);
    border-color: #000000;
    color: #ffffff;
}

th {
    background-color: #FFA214;
    font-weight: bolder;
}
