    table, th, td {
        border: 1px solid #000;
        border-collapse: collapse;
        padding: 8px;
        text-align: center;
    }

    tbody{
        background-color: #1C1C1C;
        color: white;
    }

    body {
        font-family: Arial, sans-serif;
        color: #1C1C1C;
        background-color: white;
        justify-content: center;
        align-items: center;
        margin: 0px;
        font-weight: bold;
    }
    input {
        background-color: #ececec;
        color: #1C1C1C;
        display: block;
        margin-bottom: 10px;
        border: solid 1px;
        border-color: #adadad;
        border-radius: 10px;
        padding: 10px;
    }
    
    .form-content{
        padding-left: 5px;
    }
    
    
    @media screen and (max-width: 880px) {
        .form-group {
            width: 100%;
        }
        .content{
            display: grid;
            grid-template-columns: auto;
        }
    }
    @media (min-width: 880px) {
        .form-content {
            display: grid;
            grid-template-columns: auto auto;
        }
        .content{
            display: grid;
            grid-template-columns: 72% auto;
        }
        #b{  
            position: fixed;   
            left: 74%;
            top: 5%;
            color: white;
            height: 100%;
            background-color: #1C1C1C;
        }
        body{
            background-color: #1C1C1C;
        }
        #a{
            background-color: white;
            display: grid;
            grid-template-columns: auto;
        }
    }
    .header{
        width: 100%;
        text-align: left;
        padding: 20px 0px ;
        text-align: center;
        background-color: #FFA214;
        color: #1C1C1C;
        margin-bottom: 1%;
    }

    .tabela {
        width: 100%;
        text-align: left;
        padding-left: 10px;
        margin-top: 20px;
    }

    .footer{
        width: 100%;
        text-align: center;
        padding-left: 20px;
        padding: 20px;
    }

    button{
        padding: 9px 5%;
        background-color: #FFA214;
        color: #1C1C1C;
        text-align: center;
        border: solid #FFA214 1px;
        border-radius: 5px;
        transition: 0.5s;
    }
    button:hover{
        background-color: #81520c;
        border-color: #81520c;
        color: #1C1C1C;
    }

    th{
        background-color: #FFA214;
        font-weight: bolder;
    }
